<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BladerAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,454},{56,70}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,89},{56,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{122,76}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,94},{122,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,54}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,105},{150,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,54}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,105},{150,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,58},{118,54}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,105},{118,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,58},{118,54}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,105},{118,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{118,54}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,105},{118,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{118,54}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,105},{118,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{118,54}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,105},{118,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,454},{56,70}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,89},{56,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{112,66}}</string>
                <key>offset</key>
                <string>{33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,93},{112,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{112,66}}</string>
                <key>offset</key>
                <string>{33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,93},{112,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{112,66}}</string>
                <key>offset</key>
                <string>{33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,93},{112,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{112,66}}</string>
                <key>offset</key>
                <string>{33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,93},{112,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{112,66}}</string>
                <key>offset</key>
                <string>{33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,93},{112,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,70},{106,68}}</string>
                <key>offset</key>
                <string>{30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,102},{106,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerAttack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,70},{106,68}}</string>
                <key>offset</key>
                <string>{30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,102},{106,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerDead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,454},{56,70}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,89},{56,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerDead10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,114},{90,26}}</string>
                <key>offset</key>
                <string>{30,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,139},{90,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerDead11.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,58},{90,26}}</string>
                <key>offset</key>
                <string>{30,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,139},{90,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerDead12.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,58},{90,26}}</string>
                <key>offset</key>
                <string>{30,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,139},{90,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerDead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,440},{58,70}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerDead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,190},{54,70}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,89},{54,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerDead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,378},{66,70}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,89},{66,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerDead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,190},{78,48}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,111},{78,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerDead6.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,140},{78,48}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,111},{78,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerDead7.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,140},{76,38}}</string>
                <key>offset</key>
                <string>{28,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,123},{76,38}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerDead8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,126},{80,38}}</string>
                <key>offset</key>
                <string>{30,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,123},{80,38}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerDead9.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,114},{90,26}}</string>
                <key>offset</key>
                <string>{30,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,139},{90,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerHurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,454},{56,70}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,89},{56,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerHurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,454},{56,70}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,89},{56,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerHurt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,114},{90,74}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,95},{90,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerHurt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,114},{90,74}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,95},{90,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerHurt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{122,50}}</string>
                <key>offset</key>
                <string>{38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,109},{122,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerHurt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{122,50}}</string>
                <key>offset</key>
                <string>{38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,109},{122,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerHurt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,80},{116,44}}</string>
                <key>offset</key>
                <string>{34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,120},{116,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerHurt8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,80},{116,44}}</string>
                <key>offset</key>
                <string>{34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,120},{116,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,236},{54,68}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,91},{54,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,240},{70,70}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,89},{70,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,260},{70,70}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,89},{70,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun12.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,190},{72,68}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,91},{72,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,166},{74,66}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,93},{74,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{70,64}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,95},{70,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun15.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,234},{72,66}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,93},{72,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun16.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,166},{76,68}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,91},{76,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{76,68}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,91},{76,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun18.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,312},{66,70}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,89},{66,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun19.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,310},{66,70}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,89},{66,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,374},{50,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,93},{50,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,380},{48,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,95},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{48,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,96},{48,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,306},{54,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,94},{54,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,446},{56,66}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,93},{56,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun7.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,454},{56,66}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,93},{56,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun8.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,240},{68,70}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,89},{68,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerRun9.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,240},{68,70}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,89},{68,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,380},{58,70}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,302},{60,70}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,89},{60,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,302},{60,70}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,89},{60,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,302},{60,70}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,89},{60,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,302},{60,70}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,89},{60,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand14.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,334},{58,70}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand15.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,334},{58,70}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand16.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,364},{58,70}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand17.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,364},{58,70}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand18.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,262},{58,70}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand19.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,262},{58,70}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,380},{58,70}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand20.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,262},{58,70}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,394},{58,70}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,394},{58,70}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,394},{58,70}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,89},{58,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,332},{60,70}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,89},{60,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,332},{60,70}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,89},{60,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand8.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,332},{60,70}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,89},{60,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BladerStand9.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,302},{60,70}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,89},{60,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Blader.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23ed757e61be5ea3bc6b7c7c3e88ffcb$</string>
            <key>textureFileName</key>
            <string>Blader.png</string>
        </dict>
    </dict>
</plist>
