<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hekl_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{80,56}}</string>
			<key>offset</key>
			<string>{3,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,34},{80,56}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>hekl_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,122},{64,74}}</string>
			<key>offset</key>
			<string>{-8,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,16},{64,74}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>hekl_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,70},{74,64}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,25},{74,64}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>hekl_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,2},{78,66}}</string>
			<key>offset</key>
			<string>{4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,22},{78,66}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>hekl_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,188},{62,74}}</string>
			<key>offset</key>
			<string>{11,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,13},{62,74}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>hekl_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,62},{52,76}}</string>
			<key>offset</key>
			<string>{15,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,8},{52,76}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>hekl_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,176},{68,72}}</string>
			<key>offset</key>
			<string>{5,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,9},{68,72}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>hekl_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,60},{78,60}}</string>
			<key>offset</key>
			<string>{-2,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,10},{78,60}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>hekl_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,2},{76,58}}</string>
			<key>offset</key>
			<string>{-4,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,11},{76,58}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>hekl_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,136},{72,70}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,12},{72,70}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>hekl_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,116},{58,74}}</string>
			<key>offset</key>
			<string>{-12,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,14},{58,74}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Effect_Active.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2df03035a2c13e723942eaa49e8091f4$</string>
		<key>textureFileName</key>
		<string>Effect_Active.png</string>
	</dict>
</dict>
</plist>
