<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xiangshanghuofeng_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,310},{224,162}}</string>
			<key>offset</key>
			<string>{-5,-102}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,204},{224,162}}</string>
			<key>sourceSize</key>
			<string>{234,366}</string>
		</dict>
		<key>xiangshanghuofeng_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,2},{224,246}}</string>
			<key>offset</key>
			<string>{-2,-60}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,120},{224,246}}</string>
			<key>sourceSize</key>
			<string>{234,366}</string>
		</dict>
		<key>xiangshanghuofeng_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{226,306}}</string>
			<key>offset</key>
			<string>{-3,-30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,60},{226,306}}</string>
			<key>sourceSize</key>
			<string>{234,366}</string>
		</dict>
		<key>xiangshanghuofeng_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,310},{196,206}}</string>
			<key>offset</key>
			<string>{-4,74}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,6},{196,206}}</string>
			<key>sourceSize</key>
			<string>{234,366}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>xiangshanghuofeng.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:37916992f5f79fb10d1aedd73420da6a$</string>
		<key>textureFileName</key>
		<string>xiangshanghuofeng.png</string>
	</dict>
</dict>
</plist>
