<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>yinbo_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,167},{128,83}}</string>
			<key>offset</key>
			<string>{-186,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,163},{128,83}}</string>
			<key>sourceSize</key>
			<string>{626,419}</string>
		</dict>
		<key>yinbo_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,269},{330,331}}</string>
			<key>offset</key>
			<string>{113,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{261,45},{330,331}}</string>
			<key>sourceSize</key>
			<string>{626,419}</string>
		</dict>
		<key>yinbo_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,2},{198,163}}</string>
			<key>offset</key>
			<string>{-38,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{176,117},{198,163}}</string>
			<key>sourceSize</key>
			<string>{626,419}</string>
		</dict>
		<key>yinbo_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,553},{214,243}}</string>
			<key>offset</key>
			<string>{78,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{284,73},{214,243}}</string>
			<key>sourceSize</key>
			<string>{626,419}</string>
		</dict>
		<key>yinbo_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{446,277}}</string>
			<key>offset</key>
			<string>{5,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95,54},{446,277}}</string>
			<key>sourceSize</key>
			<string>{626,419}</string>
		</dict>
		<key>yinbo_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,2},{372,265}}</string>
			<key>offset</key>
			<string>{63,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{190,60},{372,265}}</string>
			<key>sourceSize</key>
			<string>{626,419}</string>
		</dict>
		<key>yinbo_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,269},{282,239}}</string>
			<key>offset</key>
			<string>{87,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{259,74},{282,239}}</string>
			<key>sourceSize</key>
			<string>{626,419}</string>
		</dict>
		<key>yinbo_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,601},{270,271}}</string>
			<key>offset</key>
			<string>{115,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{293,76},{270,271}}</string>
			<key>sourceSize</key>
			<string>{626,419}</string>
		</dict>
		<key>yinbo_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,281},{300,301}}</string>
			<key>offset</key>
			<string>{115,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{278,61},{300,301}}</string>
			<key>sourceSize</key>
			<string>{626,419}</string>
		</dict>
		<key>yinbo_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,601},{314,313}}</string>
			<key>offset</key>
			<string>{113,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{269,54},{314,313}}</string>
			<key>sourceSize</key>
			<string>{626,419}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>yinbo.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3fd8520fe19a2a5f779203dc39adc67b$</string>
		<key>textureFileName</key>
		<string>yinbo.png</string>
	</dict>
</dict>
</plist>
