<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>yixinghuanying_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,158},{309,76}}</string>
			<key>offset</key>
			<string>{0,-92}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,184},{309,76}}</string>
			<key>sourceSize</key>
			<string>{309,260}</string>
		</dict>
		<key>yixinghuanying_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,2},{161,222}}</string>
			<key>offset</key>
			<string>{-5,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,9},{161,222}}</string>
			<key>sourceSize</key>
			<string>{309,260}</string>
		</dict>
		<key>yixinghuanying_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,681},{159,232}}</string>
			<key>offset</key>
			<string>{-4,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{71,8},{159,232}}</string>
			<key>sourceSize</key>
			<string>{309,260}</string>
		</dict>
		<key>yixinghuanying_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,627},{107,234}}</string>
			<key>offset</key>
			<string>{-20,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{81,3},{107,234}}</string>
			<key>sourceSize</key>
			<string>{309,260}</string>
		</dict>
		<key>yixinghuanying_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,80},{309,76}}</string>
			<key>offset</key>
			<string>{0,-92}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,184},{309,76}}</string>
			<key>sourceSize</key>
			<string>{309,260}</string>
		</dict>
		<key>yixinghuanying_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{309,76}}</string>
			<key>offset</key>
			<string>{0,-92}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,184},{309,76}}</string>
			<key>sourceSize</key>
			<string>{309,260}</string>
		</dict>
		<key>yixinghuanying_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,226},{159,242}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,7},{159,242}}</string>
			<key>sourceSize</key>
			<string>{309,260}</string>
		</dict>
		<key>yixinghuanying_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,385},{147,238}}</string>
			<key>offset</key>
			<string>{-8,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{73,0},{147,238}}</string>
			<key>sourceSize</key>
			<string>{309,260}</string>
		</dict>
		<key>yixinghuanying_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,842},{159,226}}</string>
			<key>offset</key>
			<string>{-6,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,10},{159,226}}</string>
			<key>sourceSize</key>
			<string>{309,260}</string>
		</dict>
		<key>yixinghuanying_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,534},{145,234}}</string>
			<key>offset</key>
			<string>{3,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,5},{145,234}}</string>
			<key>sourceSize</key>
			<string>{309,260}</string>
		</dict>
		<key>yixinghuanying_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,236},{147,238}}</string>
			<key>offset</key>
			<string>{-8,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{73,0},{147,238}}</string>
			<key>sourceSize</key>
			<string>{309,260}</string>
		</dict>
		<key>yixinghuanying_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,470},{155,236}}</string>
			<key>offset</key>
			<string>{-5,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{72,0},{155,236}}</string>
			<key>sourceSize</key>
			<string>{309,260}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>yixinghuanying.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:357b84913d6416a709ee9260f028d56f$</string>
		<key>textureFileName</key>
		<string>yixinghuanying.png</string>
	</dict>
</dict>
</plist>
