<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zengyi_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,111},{105,111}}</string>
			<key>offset</key>
			<string>{1,-25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,50},{105,111}}</string>
			<key>sourceSize</key>
			<string>{135,161}</string>
		</dict>
		<key>zengyi_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,310},{111,149}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,12},{111,149}}</string>
			<key>sourceSize</key>
			<string>{135,161}</string>
		</dict>
		<key>zengyi_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{135,155}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{135,155}}</string>
			<key>sourceSize</key>
			<string>{135,161}</string>
		</dict>
		<key>zengyi_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,97},{105,117}}</string>
			<key>offset</key>
			<string>{0,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,44},{105,117}}</string>
			<key>sourceSize</key>
			<string>{135,161}</string>
		</dict>
		<key>zengyi_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,310},{111,145}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,16},{111,145}}</string>
			<key>sourceSize</key>
			<string>{135,161}</string>
		</dict>
		<key>zengyi_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,159},{135,149}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,11},{135,149}}</string>
			<key>sourceSize</key>
			<string>{135,161}</string>
		</dict>
		<key>zengyi_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,204},{89,111}}</string>
			<key>offset</key>
			<string>{-1,-25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,50},{89,111}}</string>
			<key>sourceSize</key>
			<string>{135,161}</string>
		</dict>
		<key>zengyi_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,2},{93,133}}</string>
			<key>offset</key>
			<string>{1,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,28},{93,133}}</string>
			<key>sourceSize</key>
			<string>{135,161}</string>
		</dict>
		<key>zengyi_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,2},{107,129}}</string>
			<key>offset</key>
			<string>{-2,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,31},{107,129}}</string>
			<key>sourceSize</key>
			<string>{135,161}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zengyi.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:93c64f6272e295f1d70e443d02c9e04d$</string>
		<key>textureFileName</key>
		<string>zengyi.png</string>
	</dict>
</dict>
</plist>
